---
BasedOnStyle: LLVM
AllowShortIfStatementsOnASingleLine: WithoutElse
AlignAfterOpenBracket: DontAlign
TabWidth: 2
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
Cpp11BracedListStyle: false
IndentPPDirectives: AfterHash
...
